.navbar {
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #d19c09;
    color: white;
}

.h2 {
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.h2:hover {
    color: lightgray;
    text-decoration: underline;
}

.currency {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.currency:nth-child(2) {
    margin-right: 10px;
}


